<div class="col-md-12">

  <div class="card demo-icons">
    <div class="card-header">
      <h5 class="card-title">Registered watches</h5>
      <div class="stats">
        <i class="fa fa-refresh"></i> Remote posts are pulled from a third-party API, specifically
        https://gnews.io with the keyword “watches”
      </div>

    </div>
    <div class="table-responsive" *ngIf="dataremote.length>0">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Description</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataremote">
            <td class="table-spacing"> <img src="{{item.image}}" width="300" height="300" />
            </td>
            <td class="table-spacing">{{ item.title }}</td>
            <td class="table-spacing">{{ item.content }}</td>
            <td class="table-spacing">{{ item.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>