<div id="substandardDetailModal" class="modal" [ngClass]="{'show': showWatches}" arial-labelledby="exampleModalLabel"
    tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-short modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="margin-left: 15%;position: fixed;" data-dismiss="modal" aria-label="Close" (click)="close()">×</button>
                <div class="portlet-body form ">

                    <div class="form-group">
                        <label for="codigolocal">Title</label><br />
                        <input type="text" class="form-control" [(ngModel)]="newWatches.title" name="Watches.title"
                            placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="codigolocal">Content</label><br />
                        <input type="text" class="form-control" [(ngModel)]="newWatches.content" name="Watches.content"
                            placeholder="content">
                    </div>
                </div>
            </div>
            <div class="form-group">

                <button type="button" class="btn btn-primary" (click)="guardar()"
                    style='width:150px; height:35px;left: 20%;position: relative;'>
                    Agregar
                </button>
            </div>

        </div>
    </div>

</div>