  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 class="card-title">{{watches.length}} Registered watches</h5>
        <div class="col-md-4">
          <button class="btn btn-primary btn-block" (click)="newWatches()">Add Watches</button>
        </div>
      
      </div>
      <div class="table-responsive" *ngIf="watches.length>0">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Actions</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of watches">
              <td class="table-spacing">{{ item.title }}</td>
              <td class="table-spacing">{{ item.title }}</td>
              <td class="table-spacing">{{ item.content }}</td>
              <td><img src="../../assets/icons/borrar.png" width="30" (click)="eliminar(item.id)" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <app-new-watches *ngIf="showwatches" (closeModal)="closeModal($event)">
    </app-new-watches>